html,
body {
    height: 100%;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
    padding-left: 60px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.table-bordered > tbody > tr > td{
    border:none;
    height: 50px;
    vertical-align: middle;
}
.table-striped > tbody > tr:nth-of-type(odd){
    background-color: #FFF;

}
.table-striped > tbody > tr{
    border-bottom:2px solid #F0F0F0;
}
.table-striped > tbody > tr:hover{
    background: #F0F0F0;
}
.right-button{
    float: right;
    margin-bottom: 20px;
}
.tab-content{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 30px;
    border:1px solid #ddd;
    border:none;
    border-top:none;
}
.summary{
    margin-bottom: 20px;
}
#menu2{
    min-height: 400px;
}
body{
    font-family: 'Ubuntu', sans-serif;
    background: #F2F4F3;
}
.table thead th, .table thead th a{
    font-size:18px;
    color:#FFF;
    text-transform: uppercase;
}
table.table-bordered{
    border:none;
}
table.table-bordered > thead > tr > th,.table-bordered > thead > tr > td{
    border:none;
    color:#FFF;
}
thead tr th{
    border:none;
}

.table thead tr{
    background: #26B2AD;
}

.form-control{
    border:none;
    border-radius: 0px;
}
.input-group.date .input-group-addon{
    border:none;
    background: #29619B;
    color: #eef2f4;
}

.nav-pills > li.active > a{
    border-radius: 0px;
    
}
.breadcrumb{
    background: #FFF;
    box-shadow: -1px 3px 11px 0px rgba(0,0,0,0.1);
}
.tasks-index,.projects-index{
    padding: 10px 15px ;
    background: #FFF;
    box-shadow: -1px 3px 11px 0px rgba(0,0,0,0.1);
    border-radius: 3px;
}
.nav-pills > li + li{
    margin-left: 0;
}
.nav-pills > li > a{
    background: #FFF;

}
.table{
    font-family:Roboto;
}
.nav-pills > li.active > a{
    background: #087288;
}
.btn{
    border-radius: 2px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 700;
}
.btn-success{
    background: #8BD100;
    border:none;
}
h1{
    margin-top: 0;
}
.btn-success:hover{
    background-color:#a3dd30;
}

.table-striped > tbody > tr{
    font-family: Noto Sans;
}
.navbar-default{
    background-color: #26B2AD;
    border:none;
}
.navbar-default .navbar-brand{
    color:#FFF;
}
.navbar-default .navbar-nav > li > a{
    color:#FFF;
}
.navbar-nav > li > a{
    color:#FFF;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    color:#c3d7ff;
}
.table-bordered > tbody > tr > td:first-child{

}
#tasks-description{
    height: 182px;
}

.navbar-default .navbar-nav > li > a{
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-default .navbar-nav > li:last-child > a{
    font-weight: normal;
}

.nav-tabs.nav-justified > li > a{
    border:none;
    border-radius:0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus{
border:none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.projects-form .btn{
    display: block;
    margin-bottom: 20px;
    position: relative;
    font-size: 16px;

}
.projects-form .glyphicon-chevron-down{
    position: absolute;
    right: 10px;
    top:50%;
    margin-top: -10px;
    font-size:18px;
}
.tab-content{
    background: #FFF;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
}

.nav-tabs.nav-justified > li{
    text-transform: uppercase;
    background: #FFF;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-weight: bold;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.tab-content > .tab-pane{
}
.wpad:first-child{
    padding-right: 10px;
}
.wpad{
    padding-left: 0;
    padding-right: 0;
}

.wpad-first{
    padding-right: 20px;
}
textarea{
    resize:none;
}
.navbar{
    border-radius: 0px;
    box-shadow: -1px 3px 11px 0px rgba(0,0,0,0.1);
}

.side-panel{
    width: 60px;
    position: fixed;
    top:0px;
    bottom:0px;
    left:0px;
    background: #3E3E3E;
    box-sizing: border-box;
    padding-top: 60px;
}

.side-panel-item{
    display: block;
    width: 100%;
    height: 60px;
}
.side-panel-profile{
    background: url(../assets/images/icons/user-edit.png) no-repeat center;
}
.side-panel-list{
    background: url(../assets/images/icons/list.png) no-repeat center;
}
.side-panel-calendar{
    background: url(../assets/images/icons/calendar.png) no-repeat center;
}
.side-panel-complete{
     background: url(../assets/images/icons/calendar-complete.png) no-repeat center;
 }
.side-panel-calendar-popup{
    background: url(../assets/images/icons/calendar-popup.png) no-repeat center;
}
.side-panel-oncheck{
    background: url(../assets/images/icons/calendar-oncheck.png) no-repeat center;
}
.side-panel-mycalendar{
    background: url(../assets/images/icons/calendar-my.png) no-repeat center;
}
.side-panel-calendar-popup{
    position: relative;
}



.popup-side .side-panel-item{
    position: relative;
    background-position: 260px center;
    color:#FFF;
    line-height: 60px;
    padding-left: 60px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
}
.navbar{
    z-index: 50;
}
.for-popup-side:hover{
    z-index: 20;
}
.side-panel:hover{
    z-index: 20;
}
.for-popup-side:hover .popup-side{
    top:0px;
    opacity: 1;
    transition: 0.3s;
    z-index: 20;
}
.task-count{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -15px;
    background: #D5D0BB;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    color: #2c485e;
}

.modal-backdrop{
    z-index: 10;
}

.popup-side{
    transition: 0.3s;
    position: absolute;
    width: 300px;
    height: auto;
    top:40px;
    left: 60px;
    opacity: 0;
    background: #6D84C5;
}
.container{
    position: relative;
    z-index: 10;
    width: 93%;
}
.fullcalendar{
    margin-top: 80px;
}

.fc-state-default{
    background: #A3DD30;
}


.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    background: #558DC2;
}

.fc-state-default{
    box-shadow: none;
    outline: none;
    background: #63c2dd;
    color:#FFF;
}
.fc-state-default.fc-corner-left,.fc-state-default.fc-corner-right{
    border-radius: 0px;
    text-transform: uppercase;
    text-shadow:none;
    border:none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus{
    background: #63C2DD;
    color:#FFF;
}


.tab-content-projects{
    padding-left: 20px;
    padding-right: 20px;
}
table .form-control{
    border:none;
    background: #DCE3E5;
    color:#3E3E3E;
    font-size: 18px;
}
.form-control{
    outline:none;
    border: 1px solid #558dc2;
    border-radius: 2px;
    box-shadow: none;
}
.form-control:focus{
    outline: none;
}
.fc-view-container *{
    border-radius: 0px;

}
.fc-day-grid-event{
    background: #63C2DD;
    font-weight: bold;
    border:1px solid #63C2DD;
}
.fc-day-grid-event:hover{
    background: #26B2AD;
    border:1px solid #26B2AD;
    transition: 0.3s;
}
label{
    text-transform: uppercase;
}
.multiple-input-list__item td{
    vertical-align: middle;
}
.table-condensed > tbody > tr > td{
    vertical-align: middle;
}

.fc-day{
    cursor: pointer;
}
.fc-day:hover {
    background: #F2F4F3;
}
.fc-day-number{
    cursor: pointer;
}
.fc-day-grid-event{
    font-family:Roboto;
    font-weight: normal;
}
.task-finished{
    background: #32b9a3;
    border-radius: 3px;
    border: 1px solid #32B9A3;

}

#modal .modal-dialog{
    width: 800px;
}

.todo-list{
    margin-bottom: 40px;
}
.todo-item{
    width:93%;
    height: 50px;
    background: #FFF;
    position: relative;
    border-radius: 3px;
    border:1px solid #3abca7;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.todo-check{
    position: absolute;
    left:0px;
    top:0px;
    width: 5%;
    margin-right: 2%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    background: #3abca7;
    border-radius: 1px;

}
.todo-bg{
    position: absolute;
    width: 0%;
    left:0px;
    top:0px;
    height: 100%;
    background: #3ABCA7;
    transition: 0.5s;
}
.todo-checked .todo-bg{
    width: 100%;
    transition: 0.5s;
}
.todo-inp{
    width: 80%;
    z-index: 5;
    position: relative;
    float: left;
    margin-right: 8%;
    margin-left: 10%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    font-size: 24px;
    color: #3E3E3E;
}
.todo-checked .todo-inp{
    color:#FFF;
}
.todo-check:before{
    font-size: 28px;
    color:#FFF;
    opacity: 0.6;
}
.todo-checked .todo-check:before{
    opacity: 1;
}
.todo-action{
    position: absolute;
    right: -7%;
    cursor: pointer;
    top:0px;
    width: 5%;
    text-align: center;
    float: left;
    line-height: 50px;
    height: 100%;
    background: #8bd100;
    border:1px solid #8bd100;
    box-sizing: border-box;
    border-radius: 3px;
}
.todo-delete{
    position: absolute;
    right: -7%;
    cursor: pointer;
    top:0px;
    width: 5%;
    text-align: center;
    float: left;
    line-height: 50px;
    height: 100%;
    background: #C9302C;
    border:1px solid #C9302C;
    box-sizing: border-box;
    border-radius: 3px;
}

.todo-delete:before{
    font-size: 24px;
    color:#FFF;
}
.todo-action:before{
    font-size: 24px;
    color:#FFF;
}

.task-box{
    width: 100%;

}

.list-box-item{
    width: 40%;
    display: inline-block;
    border-radius:5px;
    margin-right: 4%;
    margin-bottom: 40px;
}
.task-header{
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    color:#FFF;
    text-align: center;
    background: #3abca7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.task-text{
    height: 120px;
    padding-top: 20px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
}
.task-link{
    display: block;
    height: 40px;
    font-size: 20px;
    background: #3E3E3E;
    text-align: center;
    line-height: 40px;
    background: #556080;
    color:#FFF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.task-link:hover{
    color:#FFF;
    text-decoration: none;
    background:#6d84c5;
}

.task-finish-date{
    float:right;
    clear: both;
}

.bold-span{
    font-weight: bold;
}

.total-task{
    font-size: 18px;
}

.btn.add-task-period{
    display: inline-block;
}
a:hover{
    text-decoration: none;
    color:#55559A;
}

.period-task-item{
    font-size: 24px;
    background: #6ab7f9;
    color:#FFF;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 60px;
    overflow: hidden;
    padding-right: 75px;

}
.period-worker{
    font-size: 18px;
}
.period-task{
    height: 60px;
    line-height: 60px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.period-task-date{
    font-size: 20px;
    text-align: right;
    padding-right: 60px;

}

.period-task-date .glyphicon-calendar{
    position: absolute;
    right:0px;
    height: 60px;
    line-height: 55px;
    color:#286090;
}
.period-task-date .glyphicon-calendar:before{
    font-size: 24px;
}
.task-checking{
    font-size: 20px;
    margin-bottom: 25px;
    margin-top: 36px;
}
.task-creator{
    font-size:20px;
    float:left;
}
.checker-task-li{
    position: relative;
}
.checker-decor{
    position: absolute;
    right: 2px;
    top: 4px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #FFF;
    text-align: center;
    line-height:15px;
    font-size: 13px;
    font-weight: bold;
    color:#556080;
}

.sub-status{
    position: absolute;
    right: 10px;
    top:50%;
    margin-top: -18px;
    height: 36px;
    width: 50px;
    background-position: center;
    background-repeat: no-repeat;
}

.sub-status1{
    background-image: url(../assets/images/icons/task-progress.png);
}
.sub-status2{
    background-image: url(../assets/images/icons/task-complete.png);
}
.sub-status3{
    background-image: url(../assets/images/icons/task-view.png);
}

.file-item{
    display: inline-block;
    width: 200px;
    height: 300px;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 14px;
    border: 2px solid #3E3E3E;
    border-radius: 10px;
    margin-bottom: 20px;
}
.file-link{
    width: 90%;
    position: absolute;
    bottom: 10px;
    height: 30px;
    left: 5%;
    line-height: 30px;
    font-size: 20px;
    box-sizing: border-box;
    text-align: center;
    background: #337ab7;
    color: #FFF;
    border-radius: 5px;

}
.file-count{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top:50%;
    margin-top: -10px;
    right:20px;
    background: #3A87AD;
    color:#FFF;
}
.file-link:hover{
    color:#FFF;
    background: #286090;
}
.file-item:nth-child(5n+1){
    margin-right: 0;
}
.file-item-preview{
    overflow: hidden;
    height: 150px;
    line-height: 150px;
}
.file-item img{
    width: 100%;
    vertical-align: middle;
}

.file-item-preview.non-image img{
    display: none;
}

.file-item-preview.xls-file{
    background: url(../assets/images/icons/xls.png) no-repeat center;
}

.file-item-preview.pdf-file{
    background: url(../assets/images/icons/pdf.png) no-repeat center;
}
.file-item-preview.psd-file{
    background: url(../assets/images/icons/psd.png) no-repeat center;
}

.file-item-preview.rar-file{
    background: url(../assets/images/icons/zip.png) no-repeat center;
}

.file-item-preview.txt-file{
    background: url(../assets/images/icons/txt.png) no-repeat center;
}
.file-item-preview.doc-file{
    background: url(../assets/images/icons/doc.png) no-repeat center;
}

.file-item-preview.all-file{
    background: url(../assets/images/icons/file.png) no-repeat center;
}

.nav-tabs.nav-justified{
    border-bottom: 2px solid #3A87AD;
}